*{
    padding: 0;
    margin: 0;
}
/* shere tag */
.nav-button{
    color: #FFFFFF;
    font-size: 16px;
    background-color: #469165;
    padding: 14px;
    border: none;
border-radius: 5px;

}
.nav-button:hover{
    background: #d65454;
}


/* navBar section */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 32px;

}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color:#000000 ;
    font-size: 16px;
}
nav ul li a:hover{
    border-bottom: 2px solid green;
}
/* baner section */
