*{
    padding: 0;
    margin: 0;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    max-width: 1550px;
    margin: auto;
}
/* shere tag */
.nav-button{
    color: #FFFFFF;
    font-size: 16px;
    background-color: #469165;
    padding: 14px;
    border: none;
border-radius: 5px;

}
.nav-button:hover{
    background: #d65454;
}
.margin{
    margin: 15px;
}

/* navBar section */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
nav ul{
    display: flex;
    gap: 32px;

}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color:#000000 ;
    font-size: 16px;
}
nav ul li a:hover{
    border-bottom: 2px solid green;
}
/* baner section */
.baner{
    background-image: url('./assets/hero-bg.png');
    padding: 115px 120px 179px;
    text-align: center;
}
.baner h1{
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
}
.baner h2{
    font-size: 72px;
    color: #30B868;
    line-height: 84px;
    font-weight: bold;

}
.baner .button1{
    font-size: 16px;
    color: #469165;
    border-radius: 50px;
    padding: 13px;
    border: none;
    background: #FFFFFF;
}
.baner p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 35px;
}
.button2{
    font-size: 16px;
    border: 2px solid #FFFFFF;
    padding: 13px;
    background:none ;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 5px;
}
.button2:hover{
    background: rgb(233, 103, 103);
}
/* notes section */
.cards{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 44px 120px;
}
.notes-section{
    text-align: center;
}
.notes-section h1{
color: #001931;
font-size: 48px;
font-weight: bold;
margin-top: 70px;
}
.notes-section .head p{
    color: #627382;
    font-size: 16px;
    margin: 16px 0 44px;
}
.card{
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgb(221, 221, 221);
    padding: 69px 24px;
    width: 250px;
}
.card img{
    background: #F95555;
    border-radius: 50%;
    padding: 16px;
}
.card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600px;
    margin: 16px 0;
}
.card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
/* solution */
.SOLUTION{
    display: flex;
    margin: 120px;
    gap: 60px;
   align-items: center;
}
.SOLUTION h4{
    color: #469165;
    font-size: 16px;
    line-height: 20px;
}
.SOLUTION h1{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin: 16px 0;
}
.SOLUTION .p{
color: #627382;
font-size: 16px;
line-height: 20px;
margin-bottom:40px ;
}
.list p{
    color: #001931;
    font-size: 16px;
}
.list img{
    width: 20px;
    height: 20px;
}
.list li{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}